html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

canvas, #container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: block;
  z-index: 1;
}

#stats {
  position: absolute;
  left: 0%;
  top: 0%;
}

#controls {
  position: absolute;
  right: 0%;
  top: 0%;
  font-size: xx-large;
  font-family: 'Press Start 2P', cursive;
  color: white;
  z-index: 2;
  text-shadow:
   -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
     2px 2px 0 black;
  a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }
}

#title {
  svg {
    top: 0%;
    left: 0%;
    width: 100%;
  }
}

.menu {
  font-size: xx-large;
  font-family: 'Press Start 2P', cursive;
  padding: 1em;
  color: white;
  text-shadow:
   -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
     2px 2px 0 black;
  a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style-type: none;
    margin-bottom: 1em;
    &.selected {
      text-shadow: 0 0 20px #fff, 
                   0 0 80px #ff00de, 
                   0 0 100px #ff00de;
    }
  }
}

#start {
  position: relative;
  margin: 0 auto;
  max-width: 600px;
  background-color: grey;
  z-index: 10;
}

#timer {
  position: absolute;
  left: 25%;
  top: 5%;
  width: 50%;
  font-size: 10em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  z-index: 2;
  text-align: center;
  text-shadow:
   -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
     2px 2px 0 black;
}
