extends layout

block variables

block head
  link(href='https://fonts.googleapis.com/css?family=Press+Start+2P|Permanent+Marker|Fascinate+Inline' rel='stylesheet' type='text/css')
  script(src='/bower_components/jquery/dist/jquery.min.js')
  script(src='/bower_components/seedrandom/seedrandom.min.js')
  script(src='/bower_components/threejs/build/three.min.js')
  script(src='/bower_components/threex.keyboardstate/threex.keyboardstate.js')
  script(src='/bower_components/stats.js/build/stats.min.js')
  script(src='/js/bayou.js')

block content
  div(id='container')
    p This page requires Javascript to function.
  div(id='controls')
    a(id='toggleMenu' href='#') Menu
  div(id='timer') 00
  div(id='start')
    div(id='title')
      svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 350')
        defs
          linearGradient(id='filler' gradientTransform='rotate(90)')
            stop(stop-color='blue' offset='0%')
            stop(stop-color='purple' offset='40%')
            stop(stop-color='mediumvioletred' offset='45%')
            stop(stop-color='gold' offset='50%')
            stop(stop-color='darkOrange' offset='55%')
            stop(stop-color='teal' offset='70%')
          filter(id='bevel' filterUnits='objectBoundingBox' x='-10%' y='-10%' width='150%' height='150%')
            feGaussianBlur(in='SourceAlpha' stdDeviation='5' result='blur')
            feSpecularLighting(in='blur' surfaceScale='30' specularConstant='1.5' specularExponent='20' result='specOut' lighting-color='white')
              fePointLight(x='-5000' y='-5000' z='00')
            feComposite(in='specOut' in2='SourceAlpha' operator='in' result='specOut2')
            feComposite(in='SourceGraphic' in2='specOut2' operator='arithmetic' k1='0' k2='1' k3='1' k4='0' result='litPaint')
          filter(id='dropshadow' filterUnits='objectBoundingBox' witdh='150%' height='150%')
            feGaussianBlur(in='SourceAlpha' stdDeviation='2.7' result='blur')
            feOffset(in='blur' dx='6' dy='6' result='offsetBlur')
            feFlood(flood-color='#FFFFFF' flood-opacity='1' result='offsetColor')
            feComposite(in='offsetColor' in2='offsetBlur' operator='in' result='offsetBlur')
            feComposite(in='SourceGraphic' in2='offsetBlur' operator='over')
        text(
          y='0.8em'
          stroke='darkslategray'
          stroke-width='5'
          fill='url(#filler)'
          filter='url(#bevel)'
          style='font-family: \'Fascinate Inline\', cursive; font-size  : 250px;') Bayou
        text(
          x='1.8em'
          y='2em'
          transform='rotate(-10)'
          fill='firebrick'
          filter='url(#dropshadow)'
          style='font-family: \'Permanent Marker\', cursive; font-size  : 200px;') Blast&nbsp
    ul(class='menu' id='mainMenu')
      li(class='selected')
        a(id='arcadeMode' href='#') Arcade Mode
      li  
        a(id='howToPlay' href='#') How To Play
      li  
        a(id='settings' href='#') Settings
    ul(class='menu' id='settingsMenu' style='display:none')
      li
        a(id='switchCamera' href='#') Switch Camera
      li  
        a(id='resetStreams' href='#') Reset
      li  
        input(id='seedEntry' type='text')
      li  
        a(id='seedGenerate' href='#') Generate new river
      li  
        a(id='closeSettings' href='#') Back