block variables

doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')

    title= title

    block head

    link(rel='stylesheet', href='/css/app.css')

    script(src='js/app.js')

  body(id=page)
    block content